<!doctype html>
<html>
<!-- 공통 Config -->
<head th:replace="popup/popupConfig::configFragment">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div class = "container" >
	<form name="uploadForm" id="uploadForm" role="form" class="form-horizontal">
		<h2>초기 비밀번호 수정</h2>
                <div class="form-group">
                    <label for="email" class="col-sm-3 control-label">* 새 비밀번호</label>
                    <div class="col-sm-9">
                        <input type="password" id="password" dataType="ALPHA_N_INT" name="password" hname="비밀번호" placeholder="비밀번호를 입력해주세요.(8자 이상, 영문+숫자 조합)" class="form-control" maxlength="20" required="required" onkeyup="chkInput(this)">
                       	<span class="chkMsg" id="passwordChk"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="email" class="col-sm-3 control-label">* 새 비밀번호 확인</label>
                    <div class="col-sm-9">
                        <input type="password" id="password2" dataType="ALPHA_N_INT" name="password2" hname="비밀번호 확인" placeholder="비밀번호를 한번 더 입력해주세요." class="form-control" maxlength="20" required="required" onkeyup="chkInput(this)">
                       	<span class="chkMsg" id="password2Chk"></span>
                    </div>
                </div>
                <div class="form-group" style="margin-top: 30px">
                    <div class="col-sm-11 col-sm-offset-1">
                        <button type="button" class="btn btn-secondary btn" style="width: 49%" onclick="window.close();">취소</button>
                        <button type="button" class="btn btn-primary btn" style="width: 49%" onclick="initPw();">등록</button>
                    </div>
                </div>
	</form>
</div>
</body>
<script>

$(document).ready(function () {
	
});

function chkInput(obj){
	
	var inputId = $(obj).attr("id");
	var inputVal = $(obj).val();
	
	
	var msg = "";
	switch(inputId) {
	  case "password":
	  	  msg = chkPw($(obj));
	    break;
	  case "password2":
	  	  msg = chkPw2($(obj));
	    break;
	  default:
	    // code block
	}
	
	if(succFlag){
		$("#" + inputId + "Chk").removeClass('chkMsg').addClass('chkMsgActive');
	}else{
		$("#" + inputId + "Chk").removeClass('chkMsgActive').addClass('chkMsg');
	}
	$("#" + inputId + "Chk").html(msg);
	
}

var returnMsg = "";
var succFlag = false;

function chkPw(obj){
	var value = $(obj).val();
	if(value.length<8){
		returnMsg = "비밀번호를 8자 이상 입력해주세요."
    	succFlag = false;
	}else if(!isAlphaIntComb(value)){
		returnMsg = "비밀번호는 영문과 숫자의 조합으로 입력해주세요."
    	succFlag = false;
	}else{
		returnMsg = "사용할 수 있는 비밀번호입니다."
		succFlag = true;
	}
	
	return returnMsg;
}

function chkPw2(obj){
	var value = $(obj).val();
	if(value!=$("#password").val()){
		returnMsg = "비밀번호가 일치하지 않습니다."
    	succFlag = false;
	}else{
		returnMsg = "비밀번호가 일치합니다."
		succFlag = true;
	}
	
	return returnMsg;
}


function initPwProssYn(){
	
		
	if(validRequired()){
	
		if($('#password').val()!=$('#password2').val()){
			alert("비밀번호가 일치하지 않습니다.");
			return;
		}
			
		var sendData = $('#uploadForm').serialize();
	
	    $.ajax({
	        type: 'POST',
	        dataType : 'json', 
	        data : sendData,
	        beforeSend : function(xhr)
	        {   /*데이터를 전송하기 전에 헤더에 csrf값을 설정한다*/
					xhr.setRequestHeader(header, token); 
	        },
	        url :  '/login/initPwProssYn',
	        success: function (data) {
	        	if(data.result=="Y"){
	        		initPw();
	        	}else{
	        		alert("정보가 일치하지 않습니다.");
	        	}
	        },
	        error: function (e) {
	            alert("등록 실패");
	        }
	    });
	}
	
}

//초기 패스워드 등록
function initPw(){
	

	if(validRequired()){
		
		if($(".chkMsg").length>0){
			alert("올바르지 않은 입력값이 존재합니다.");
			return;
		}
			
		
		var sendData = $('#uploadForm').serialize();
	    $.ajax({
	        type: 'GET',
	        dataType : 'json', 
	        data : sendData,
	        beforeSend : function(xhr)
	        {   /*데이터를 전송하기 전에 헤더에 csrf값을 설정한다*/
					xhr.setRequestHeader(header, token); 
	        },
	        url :  '/login/updInitPassword',
	        success: function (data) {
	        	if(data.result>0){
	        		alert("등록 성공하였습니다.");
	        		window.close();
	        	}else{
	        		alert("등록 실패하였습니다.");
	        	}
	        },
	        error: function (e) {
	            alert("등록 실패");
	        }
	    });
	}
}

</script>
</body>
</html>
