<!doctype html>
<html>
<!-- 공통 Config -->
<head th:replace="popup/popupConfig::configFragment">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>Layout Test</title>
</head>
<body>
<div>
</div>
<div class="container">
	<form enctype="multipart/form-data" name="uploadForm" id="uploadForm">
   <h2>제품 서류 등록</h2>
	<div class="col-lg-12 well">
		<div class="row">
			<div class="col-sm-12">
				<div class="row">
					<div class="col-sm-4 form-group">
						<label>서류구분</label>
						<select class="form-control" readonly style='background-color:#DDDDDD' onFocus='this.initialSelect = this.selectedIndex;'
								onChange='this.selectedIndex = this.initialSelect;' name="docType" id="docType">
							<option th:value="${result.docType}" th:text="${result.docTypeNm}"></option>
						</select>
					</div>	
				</div>				
				<div class="row">
					<div class="col-sm-4 form-group">
						<label>제조사</label>
						<select class="form-control" readonly style='background-color:#DDDDDD' onFocus='this.initialSelect = this.selectedIndex;'
								onChange='this.selectedIndex = this.initialSelect;' name="mvgr2">
							<option th:value="${result.mvgr2}" th:text="${result.mvgt2}"></option>
						</select>
					</div>	
					<div class="col-sm-4 form-group">
						<label>기종</label>
						<select class="form-control" readonly style='background-color:#DDDDDD' onFocus='this.initialSelect = this.selectedIndex;'
								onChange='this.selectedIndex = this.initialSelect;' name="mvgr3">
							<option th:value="${result.mvgr3}" th:text="${result.mvgt3}"></option>
						</select>						
					</div>	
					<div class="col-sm-4 form-group">
						<label>모델명</label>
						<select class="form-control" readonly style='background-color:#DDDDDD' onFocus='this.initialSelect = this.selectedIndex;'
								onChange='this.selectedIndex = this.initialSelect;'name="normt">
							<option th:value="${result.normt}" th:text="${result.normt}"></option>
						</select>						
					</div>		
				</div>				
			</div>
      </div>
    </div>
	<div class="row">
	   <div class="col-md-7">
            <div>
            	<div class="form-group files color">
            	   <label>* 첨부파일</label>
	                <div id="dropZone">
	                </div>
              	</div>
            </div>
		</div>
	     <div class="col-md-5">
	     <label></label>
	        <div class="list-group" id="fileTableTbody">
	        </div>
	     </div>
	     <div class="col-sm-12 form-group">
			<div id="progressbar"></div>  
			<div class="progress-label"></div>
		</div>
	</div>
 	<div class="row">
  		<div class="col-sm-12 form-group">
		<label>비고</label>
			<input type="text" id="remarks" name="remarks" class="form-control" maxlength="200">
		</div>			
	</div>  
    <div class="col-lg-12" style="margin-top: 30px">
            <button type="button" class="btn btn-secondary btn" style="width: 49%" onclick="window.close();">취소</button>
            <button type="button" class="btn btn-primary btn" style="width: 49%" onclick="uploadFile();">등록</button>
    </div>
    <!-- progress bar -->
	<div id="progress"></div>
	<!-- end progress -->  

	</form>
</div>
<script>
// 파일 리스트 번호
var fileIndex = 0;
// 등록할 전체 파일 사이즈
var totalFileSize = 0;
// 파일 리스트
var fileList = new Array();
// 파일 사이즈 리스트
var fileSizeList = new Array();
// 등록 가능한 파일 사이즈 MB
var uploadSize = 200;
// 등록 가능한 총 파일 사이즈 MB
var maxUploadSize = 600;
//등록 가능한 파일 총 개수
var maxUploadCnt = 0;

var progressbar; 
var progressLabel; 

$(function (){
    // 파일 드롭 다운
    fileDropDown();
    if($('#docType').val()=="S" || $('#docType').val()=="A"){
    	maxUploadCnt = 3;
    }else{
    	maxUploadCnt = 10;
    }
    //프로그레스 바
    progress();
});

// 파일 드롭 다운
function fileDropDown(){
    var dropZone = $("#dropZone");
    //Drag기능 
    dropZone.on('dragenter',function(e){
        e.stopPropagation();
        e.preventDefault();
        // 드롭다운 영역 css
        dropZone.css('background-color','#E3F2FC');
    });
    dropZone.on('dragleave',function(e){
        e.stopPropagation();
        e.preventDefault();
        // 드롭다운 영역 css
        dropZone.css('background-color','#FFFFFF');
    });
    dropZone.on('dragover',function(e){
        e.stopPropagation();
        e.preventDefault();
        // 드롭다운 영역 css
        dropZone.css('background-color','#E3F2FC');
    });
    dropZone.on('drop',function(e){
        e.preventDefault();
        // 드롭다운 영역 css
        dropZone.css('background-color','#F1F1F1');
        
        var files = e.originalEvent.dataTransfer.files;
        if(files != null){
            if(files.length < 1){
                alert("폴더 업로드 불가");
                return;
            }
            selectFile(files);
        }else{
            alert("ERROR");
        }
    });
}

// 파일 선택시
function selectFile(files){
    // 다중파일 등록
    if(files != null){
        for(var i = 0; i < files.length; i++){
            // 파일 이름
            var fileName = files[i].name;
            var fileNameArr = fileName.split("\.");
            // 확장자
            var ext = fileNameArr[fileNameArr.length - 1];
            // 파일 사이즈(단위 :MB)
            var fileSize = files[i].size / 1024 / 1024;
            
//             if($.inArray(ext, ['exe', 'bat', 'sh', 'java', 'jsp', 'html', 'js', 'css', 'xml']) >= 0){
            if($.inArray(ext, ['xls', 'xlsx', 'pdf', 'PDF', 'jpg', 'jpeg', 'JPG', 'ai', 'png', 'PNG']) < 0){
                // 확장자 체크
                alert("등록 불가능한 파일 형식입니다.");
                break;
            }else if(fileSize > uploadSize){
                // 파일 사이즈 체크
                alert("용량 초과\n업로드 가능 용량 : " + uploadSize + " MB");
                break;
            }else if(files.length > maxUploadCnt){
            	alert("업로드 가능한 파일 개수를 초과하였습니다.(3개)");	
                break;
            }else{
                // 전체 파일 사이즈
                totalFileSize += fileSize;
                
                // 파일 배열에 넣기
                fileList[fileIndex] = files[i];
                
                // 파일 사이즈 배열에 넣기
                fileSizeList[fileIndex] = fileSize;

                // 업로드 파일 목록 생성
                addFileList(fileIndex, fileName, fileSize);

                // 파일 번호 증가
                fileIndex++;
            }
        }
    }else{
        alert("ERROR");
    }
}

// 업로드 파일 목록 생성
function addFileList(fIndex, fileName, fileSize){
    var html = "";
//     html += "<tr id='fileTr_" + fIndex + "'>";
//     html += "    <td class='left' >";
//     html +=         fileName + " / " + fileSize + "MB "  + "<a href='#' onclick='deleteFile(" + fIndex + "); return false;' class='btn small bg_02'>삭제</a>"
//     html += "    </td>"
//     html += "</tr>"
    
    html += "<a href=# class='list-group-item list-group-item-default' id='fileTr_" + fIndex + "'>";
    html += "<span class='badge alert-default pull-right' onclick='deleteFile(" + fIndex + "); return false;'>X</span>" + fileName + "</a>";

    $('#fileTableTbody').append(html);
}

// 업로드 파일 삭제
function deleteFile(fIndex){
    // 전체 파일 사이즈 수정
    totalFileSize -= fileSizeList[fIndex];
    
    // 파일 배열에서 삭제
    delete fileList[fIndex];
    
    // 파일 사이즈 배열 삭제
    delete fileSizeList[fIndex];
    
    // 업로드 파일 테이블 목록에서 삭제
    $("#fileTr_" + fIndex).remove();
}

// 파일 등록
function uploadFile(){
    // 등록할 파일 리스트
    var uploadFileList = Object.keys(fileList);

    // 파일이 있는지 체크
    if(uploadFileList.length == 0){
        // 파일등록 경고창
        alert("등록할 파일을 추가해주세요.");
        return;
    }
    
    // 용량을 500MB를 넘을 경우 업로드 불가
    if(totalFileSize > maxUploadSize){
        // 파일 사이즈 초과 경고창
        alert("총 용량 초과\n총 업로드 가능 용량 : " + maxUploadSize + " MB");
        return;
    }
   if(uploadFileList.length > maxUploadCnt){
   		alert("업로드 가능한 파일 개수를 초과하였습니다.(3개)");	
    	return;
   }     
    if(confirm("제품 서류를 등록 하시겠습니까?")){
        // 등록할 파일 리스트를 formData로 데이터 입력
        var form = $('#uploadForm')[0];
        var formData = new FormData(form);
        for(var i = 0; i < uploadFileList.length; i++){
            formData.append('files', fileList[uploadFileList[i]]);
        }
        //fc_spinner();
        //프로그레스 바
        progress(0);
        $.ajax({
            url:"/sDocMgrList/sDocUpload",
            data:formData,
            beforeSend : function(xhr)
            {   /*데이터를 전송하기 전에 헤더에 csrf값을 설정한다*/
    				xhr.setRequestHeader(header, token); 
            },
            type:'POST',
            enctype:'multipart/form-data',
            processData:false,
            contentType:false,
            dataType:'json',
            cache:false,
			xhr: function(){
				var xhr = $.ajaxSettings.xhr();
				xhr.upload.onprogress = function(e){
					var per = e.loaded * 100 / e.total;
					progress(per);
				};
				return xhr;
			},
            success:function(result){
                if(result.result=="S"){
                	//spinner.stop();
                    //프로그레스 바	
                	progressbar.progressbar( "value", 100 );

                	alert("등록이 완료 되었습니다");
    	            //부모창 재조회
    	            window.opener.qrySDocMgrList();
                    window.close();
                }else{
                    alert("등록이 실패하였습니다");
                }
            }
        });
    }
}



$(document).ready(function () {
	
});

//SKU 유효성 체크
function qryRgtPossYn(){
		
	//필수값 입력 유효성 체크
	if(fileValidChk()=="F"){
		return;
	}
	
	var arrData="";
	 $('input:checkbox[name="skuChkList"]').each(function() {
	      if(this.checked){//checked 처리된 항목의 값
	    	  arrData += this.value +",";
	      }
	 });
	 
	 //alert(arrData);
	 $('#matnr').val(arrData)
	
	var sendData = JSON.stringify({mvgr2:$('#mvgr2').val(), mvgr3:$('#mvgr3').val(), normt:$('#normt').val(), matnr:arrData}); 
	
	$.ajax({
          type : 'POST',
          data : sendData,
          beforeSend : function(xhr)
          {   /*데이터를 전송하기 전에 헤더에 csrf값을 설정한다*/
  				xhr.setRequestHeader(header, token); 
          },
          dataType : 'json',
          url :  '/sDocMgrList/selectCntSkuList',
          contentType:"application/json;charset=UTF-8",
          success : function(result) {
        	  
        	  var msgArr = new Array();
        	 if(result.skuList==""){
        	  	alert("시방서 마스터를 등록해주세요");
        	  	return;
        	 }
           	 for(var j = 0 ;  j < $('input[name=skuChkList]').length; j ++){
        	 	for(var i = 0 ; i < result.skuList.length; i++){
		             if(result.skuList[i].cnt ==0){
	        	 		if($('input[name=skuChkList]').eq(j).val()==result.skuList[i].matnr){
	        	 			$('input[name=skuChkList]').eq(j).prop('checked', false);
	        	 		}
	        	 			msgArr[i]=(result.skuList[i].matnr);
	        	 	}
            	 }
           	 }
           	if(msgArr.length>0) {
	   	 		$('input[name=skuAllChk]').prop('checked', false);
	       	 	alert("[" + msgArr + "]의 시방서 마스터 등록이 필요합니다");
           	}else{
           		sDocRgt();
           	}
          },
          error : function(request,status){
              alert("조회 실패");
          }
	});
}




//시방서 등록
function sDocRgt(){
	
	//첨부 완료된 건들 재등록 여부
	if(finSkuRgtChk()=="Y"){
		if(!confirm("이미 등록된 파일이 있습니다. \n현재 첨부된 파일로 재등록 하시겠습니까?")){
			return;
		}
	}
	
	
	if($('#skuAllChk').is(":checked")){
		$('#comnYn').val("Y");	
	}else{
		$('#comnYn').val("N");	
	}

	$('#btnSubmit').prop('disabled', true);

	var sendData = new FormData($('#uploadForm')[0]);

    $.ajax({
        type: 'POST',
        enctype: 'multipart/form-data',
        url :  '/sDocMgrList/sDocUpload',
        data: sendData,
        beforeSend : function(xhr)
        {   /*데이터를 전송하기 전에 헤더에 csrf값을 설정한다*/
				xhr.setRequestHeader(header, token); 
        },
        processData: false,
        contentType: false,
        cache: false,
        timeout: 600000,
        success: function (data) {
            console.log('SUCCESS : ', data);
            $('#btnSubmit').prop('disabled', false);
            if(data.result =="S"){
	            //부모창 재조회
	            window.opener.qrySDocMgrList();
            	alert("등록이 완료 되었습니다.");
            }else{
            	alert("등록에 실패 하였습니다.");
            }
        },
        error: function (e) {
            alert("등록 실패");
            console.log('ERROR : ', e);
            $('#btnSubmit').prop('disabled', false);
        }
    });
}

function fileValidChk(){

	var attachedFiles = $('input[name=uploadfile]');
	var fileData = new Array(attachedFiles.length);
	var fileForm = /(.*?)\.(xls|xlsx|pdf|jpg|jpeg)$/; //나중에 공통
	var maxSize = 10 * 1024 * 1024;
	var fileSize;
	
	
	for(var i=0; i<attachedFiles.length; i++){                          
		fileData[i] = $("input[name='uploadfile']")[i].value;
		if(fileData[i] == "") {
			alert("첨부파일을 선택해주세요");
			$('input[name=uploadfile]').eq(i).focus();
		    return "F";
		}else{
			fileSize = $("input[name='uploadfile']")[i].files[0].size;
			if(!fileData[i].match(fileForm)) {
		    	alert("EXCEL, PDF 파일만 업로드 가능합니다.");
				$('input[name=uploadfile]').eq(i).focus();
		        return "F";
		    } else if(fileSize > maxSize) {
		    	alert("파일 사이즈는 10MB까지 가능합니다");
				$('input[name=uploadfile]').eq(i).focus();
		        return "F";
		    }
	        return "S";
		}
	}
}

function finSkuRgtChk(){
	for(var j = 0 ;  j < $('input[name=skuChkList]').length; j ++){
 		if($('input[name=skuChkList]').eq(j).is(":checked")){
 			if($('input[name=skuChkList]').eq(j).parent().next().next().text()=="Y"){
	 			return "Y";
 			}else{
 				return "N";
 			}
 		}
    }
}

//SKU 전체 체크
function skuAllChk(obj){
	$("input[name='skuChkList']").prop("checked", obj.checked);
}

var currentSelectorG = null;
function selectRowG(obj, flag){

	var selectedTr = $(obj).parent().parent();
	
	selectedTr.css('background-color', '#ffffd9');
	if(currentSelectorG != null && currentSelectorG != selectedTr){
		$(currentSelectorG).css('background-color','');
	}
	currentSelectorG = selectedTr;

	$('#mvgr3').val($(obj).val()); 
	qrySkuList();
}

var currentSelectorM = null;
function selectRowM(obj, flag){

	var selectedTr = $(obj).parent().parent();
	
	selectedTr.css('background-color', '#ffffd9');
	if(currentSelectorM != null && currentSelectorM != selectedTr){
		$(currentSelectorM).css('background-color','');
	}
	
	currentSelectorM = selectedTr;

	$('#normt').val($(obj).val()); 
	qrySkuList();
	
}

//SKU 조회
function qrySkuList(){
	
	var sendData = JSON.stringify({mvgr2:$('#mvgr2').val(), mvgr3:$('#mvgr3').val(), normt:$('#normt').val()}); 
	$.ajax({
          type : 'POST',
          data : sendData,
          beforeSend : function(xhr)
          {   /*데이터를 전송하기 전에 헤더에 csrf값을 설정한다*/
  				xhr.setRequestHeader(header, token); 
          },
          dataType : 'json',
          url :  '/sDocMgrList/sDocRgtPopupQrySku',
          contentType:"application/json;charset=UTF-8",
          success : function(result) {
             onSuccess(result.skuList);
          },
          error : function(request,status){
              alert("조회 실패");
          }
	});
	
}

function onSuccess(resultList){
	var htmltext="";    
    if(resultList.length == 0) {
        htmltext += "<tr>";
        htmltext += "<td>조회 결과가 없습니다.</td>";
        htmltext += "</tr>";
    }else{
        htmltext += "<tr>";
        htmltext += "<td><input type='checkbox' id='skuAllChk' name='skuAllChk' onclick='skuAllChk(this)'></td>";
        htmltext += "<td>전체</td>";
        htmltext += "</tr>";
		for(var n = 0 ; n<resultList.length ; n ++){
			var resultVO = resultList[n];      
	        htmltext += "<tr>";
		    htmltext += "<td class='center'><input type='checkbox' value="+resultVO.matnr+" name='skuChkList'></td>";
		    htmltext += "<td>"+resultVO.matnr+"</td>";
		    htmltext += "<td style='display: none;'>"+resultVO.finYn+"</td>";
		    htmltext += "</tr>";
		}
    }
    $("#sDocTable2 > tbody").html(htmltext);
}
</script>
</body>
</html>
